@font-face {
    font-family: 'Y_Spotlight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/Y_Spotlight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.animations{
    background-color: #fffda4;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.animations::after{
    content: "리봇";
    z-index: 12;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-00%);
    font-size: 80pt;
    word-break: keep-all;
    font-family: 'Y_Spotlight', sans-serif;
}
.animations::before{
    content: "작고 평범한 봇,";
    z-index: 12;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 40pt;
    transform: translateX(-50%) translateY(-100%);
    word-break: keep-all;
    font-family: 'Y_Spotlight', sans-serif;
}
.animations>.first{
    position: absolute;
    background-color: #F7D452;
    top: 0;
    left: -120%;
    width: 100%;
    height: 100%;
    opacity: 70%;
    animation: first 5s ease-in-out 0s infinite alternate;
}
.animations>.second{
    position: absolute;
    background-color: #E0A755;
    top: 0;
    left: -110%;
    width: 100%;
    height: 100%;
    opacity: 70%;
    animation: second 6s ease-in-out 0s infinite alternate;
}
.animations>.three{
    position: absolute;
    background-color: #F78252;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    opacity: 40%;
    animation: second 7s ease-in-out 0s infinite alternate;
}
@keyframes first{
    0%{
        left: -120%;
    }
    100%{
        left: 0%;
    }
}
@keyframes second{
    0%{
        left: -110%;
    }
    100%{
        left: 0%;
    }
}
@keyframes three{
    0%{
        left: -100%;
    }
    100%{
        left: 0%;
    }
}

@media screen and (max-width: 768px) { 
    .animations::after{
        font-size: 50pt;
    }
    .animations::before{
        font-size: 20pt;
    }
}