html{
  scroll-behavior: smooth;
}
.boder{
  margin-top: 0%;
}
.image1{
  background-image: url('../img/background-1.jpg');
  height: 1000px;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
}
.image2{
  background-image: url('../img/background-2.jpg');
  height: 1000px;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
}
#open li{
  list-style: none;
}
#open{
  position: fixed;
  background-color: white;
  z-index: 1;
  width: 80%;
  height: 100%;
  left: 200%;
  transform: translateX(-100%);
  transition: left 0.5s;
  z-index: 11;
}
#allview_open{
  border: black 4px solid;
  border-radius: 50%;
  display: block;
  color: #FFFFFF00;
  background-color: #FFFFFF00;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 5%;
  left: 85%;
  transform: translateX(-50%) translateY(-50%);
}
.end{
  cursor: context-menu;
}
.cut2{
  cursor: context-menu;
}
.cut1{
  cursor: context-menu;
}
