html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    text-align: center;
}
a{
    text-decoration: none;
    font-weight: 530;
    color: black;
    transition: color 0.3s ease;
}
a::after{
    content: "";
    display: block;
    border-bottom: gray 2px solid;
    width: 0;
    transition: color 0.3s ease, width 0.3s ease;
}
a:hover{
    color: gray;
    transition: color 0.3s ease;
}
a:hover::after{
    content: "";
    display: block;
    border-bottom: gray 2px solid;
    width: 100%;
    transition: color 0.3s ease, width 0.3s ease;
}
#loading{
    background-color: white;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
}
#ani{
    animation-name: load;
    animation-direction: alternate;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    z-index: 2;
    width: 50px;
    height: 50px;
    border: black 7px solid;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
@keyframes load{
    from{
        top: 25%;
    }
    to{
        top: 75%;
    }
}