@font-face {
font-family: 'logo';
font-style: normal;
font-weight: normal;
src: local('Product Sans'), url('../font/ProductSans-Regular.woff') format('woff');
}
body{
  margin: 0;
  text-align: center;
  font-family: 'logo', sans-serif;
}
.boder{
  position: absolute;
	top: 70px;
	left: 50%;
	transform: translateX(-50%);
}
#fzf{
  position: absolute;
	top: 70px;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
  font-size: 50pt;
}
button{
  background-color: white;
  border: gray 1px solid;
}
select{
  background-color: white;
  border: gray 1px solid;
}
textarea{
  background-color: white;
  border: gray 1px solid;
}
input{
  background-color: white;
  border: gray 1px solid;
}
